<!--<div class="content-inputs">-->
    <!--<usana-form-input [data]="{label: input.label}" *ngFor="let input of inputTypes" class="content-input" (dataOut)="sendUpMutation($event, input.label)"></usana-form-input>-->
<!--</div>-->
<div class="dashboard-main">
<div class="section-add-content">
  <div class="content-button-section">
  <a [routerLink]="'/dashboard/add-edit/' + routeParams.pageId" *ngIf="inputTypes"><button class="button-small-secondary">back</button> </a>
  <a [routerLink]="'/dashboard/image-service'" target="_blank" *ngIf="inputTypes"> <button class="button-small-secondary">Media</button></a>
  </div>
    <div *ngFor="let input of inputTypes">
<div>
  <app-input [data]="{label: input.inputTypeName, value: input.inputTypeValue}"
             class="content-input" (change)="sendUpMutation($event.target.value,
             input.inputTypeName, input.id, input.input)" *ngIf="input.inputTypeName && input.input !== 'RichText'"></app-input>
</div>
      <div *ngIf="input.label && input.input !== 'RICH_TEXT'">
        <app-input [data]="{label: input.label}" class="content-input" (change)="sendUpMutation($event.target.value, input.label, input.id, input.input)" ></app-input>
      </div>

    <div *ngIf="input.inputTypeName && input.input === 'RichText'" class="ckeditor">
      <label>{{input.inputTypeName}}</label>
      <ckeditor [editor]="Editor" data="{{input.inputTypeValue}}" (blur)="sendUpMutationRich($event, input.inputTypeName, input.id, input.input)"></ckeditor>
    </div>
    <div *ngIf="input.label && input.input === 'RICH_TEXT'" class="ckeditor">
      <label>{{input.inputTypeName}}</label>
      <ckeditor [editor]="Editor" data="{{input.inputTypeValue}}" (blur)="sendUpMutationRich($event, input.label, input.id, input.input)"></ckeditor>
    </div>

  </div>
  <div class="button-input">
    <button class="button-large-primary" *ngIf="inputTypes">Save</button>
  </div>
</div>
</div>

