<!--<div class="content-inputs">-->
    <!--<usana-form-input [data]="{label: input.label}" *ngFor="let input of inputTypes" class="content-input" (dataOut)="sendUpMutation($event, input.label)"></usana-form-input>-->
<!--</div>-->
<div class="dashboard-main">
<div class="section-add-content">
  <a [routerLink]="'/dashboard/add-edit/' + routeParams.pageId" *ngIf="inputTypes"><usana-button [data]="{buttonClass: 'button-small-secondary'}">back</usana-button> </a>
  <a [routerLink]="'/dashboard/image-service'" target="_blank" *ngIf="inputTypes"> <usana-button [data]="{buttonClass: 'button-small-secondary'}">Media</usana-button></a>
  <div *ngFor="let input of inputTypes">

    <usana-form-input [data]="{label:  input.inputTypeName , value: input.inputTypeValue }"  class="content-input" (dataOut)="sendUpMutation($event, input.inputTypeName, input.id, input.input)" *ngIf="input.inputTypeName && input.input !== 'RichText'"></usana-form-input>
    <usana-form-input [data]="{label: input.label }"  class="content-input" (dataOut)="sendUpMutation($event, input.label, input.id, input.input)" *ngIf="input.label && input.input !== 'RICH_TEXT'"></usana-form-input>

    <div *ngIf="input.inputTypeName && input.input === 'RichText'" class="ckeditor">
      <label>{{input.inputTypeName}}</label>
      <ckeditor [editor]="Editor" data="{{input.inputTypeValue}}" (blur)="sendUpMutationRich($event, input.inputTypeName, input.id, input.input)"></ckeditor>
    </div>
    <div *ngIf="input.label && input.input === 'RICH_TEXT'" class="ckeditor">
      <label>{{input.inputTypeName}}</label>

      <ckeditor [editor]="Editor" data="{{input.inputTypeValue}}" (blur)="sendUpMutationRich($event, input.label, input.id, input.input)"></ckeditor>
    </div>

  </div>
  <div class="button-input">
    <usana-button [data]="{buttonClass: 'button-large-primary'}" *ngIf="inputTypes">Save</usana-button>
  </div>
</div>
</div>

