 <!--<usana-hero-slider></usana-hero-slider>-->
 <section *ngFor="let theData of data">
   <usana-hero-slider *ngIf="theData.heroSlide" [data]="{slides: theData.heroSlide, slideTime: 8000}"  ></usana-hero-slider>
 <!--<usana-button *ngIf="data.button" [data]="{buttonClass: 'button-primary-rect'}">button</usana-button>-->
  <app-card-section *ngIf="theData.cards">
    <usana-card *ngFor="let card of theData.cards" [data]="{
    img: card.img,
    title: card.title,
    blobInfo: card.blobInfo,
    buttonText: card.buttonText,
    buttonClass: card.buttonClass,
    fontStyle: card.fontStyle
    }">
    </usana-card>
</app-card-section>
 <app-text-left-section *ngIf="data.textLeftIs" [data]="data"></app-text-left-section>
 <app-text-right-section *ngIf="data.textRightIs" [data]="data"></app-text-right-section>
   <app-text-centered-section *ngIf="theData.textCenterSection" [data]="theData.textCenterSection[0]"></app-text-centered-section>
 </section>
