<div class="dashboard-main">
  <div *ngIf="!routeParams.templateId">
      <app-input [data]="{label: 'Create Template Area'}" (change)="createTemplateArea($event)"></app-input>
    </div>

    <div *ngIf="!routeParams.templateId">
      <ul>
        <Li *ngFor="let area of templateAreas"><a [routerLink]="area.areaName">{{area.areaName}}</a></Li>
      </ul>
    </div>

  <div class="flexbox-container" *ngFor="let area of templateAreas">
    <div>
      <div *ngIf="routeParams.templateId === area.areaName" class="add-to-page">

        <div>
          <h3>Add {{area.areaName}}</h3>
          <div *ngFor="let area of templateAreas">
            <div *ngIf="area.areaName === routeParams.templateId" class="content-type-list">
              <button class="button-large-secondary" *ngFor="let content of contentTypes" (click)="addContentToTemplateArea(content.typeName, content)">add {{content.typeName}}</button>
            </div>
          </div>
        </div>
        </div>
      </div>

    <div class="itterabox" *ngIf="routeParams.templateId === area.areaName">
    <h3>Edit Items</h3>
      <accordion [isAnimated]="true">
        <accordion-group [heading]="contentItem.contentTypeName" *ngFor="let contentItem of area.content">
          <app-input *ngFor="let input of contentItem.texts" [data]="{label: input.inputTypeName, value: input.inputTypeValue}" (change)="updateContent(input.id, input.inputTypeName, $event)"></app-input>
        </accordion-group>
      </accordion>
    </div>
  </div>

</div>
