
<div class="dashboard-main">
  <div *ngIf="routeParams.pageId">
  <h2>{{routeParams.pageId}}</h2> <span>Preview Page:  <a [href]="'../../../page/' + routeParams.pageId" target="_blankngnnn">{{routeParams.pageId}}</a></span>
</div>

<usana-form-input [data]="{label: 'Page Title' }" (dataOut)="dataFromForm($event)"*ngIf="!routeParams.pageId"></usana-form-input>


  <div *ngIf="routeParams.pageId" class="add-to-page">
      <div>
      <h3>Add Component</h3>
      <div>
        <a [routerLink]="'../' + routeParams.pageId + '/'+ content.typeName" *ngFor="let content of contentTypes">{{content.typeName}}</a>
      </div>
    </div>

  <div >
  <h3>Edit Component</h3>
    <div >
      <accordion [isAnimated]="true"  dragula="VAMPIRES" [(dragulaModel)]="contentAreas">
        <accordion-group [heading]="area.areaName" *ngFor="let area of contentAreas" class="accordion-thing">
          <span *ngIf="area.areaName"> <usana-button [data]="{buttonClass: 'button-small-secondary'}" (click)="addNewItemToIterable(area.id, area.areaName)">+ {{area.areaName}}</usana-button></span>
          <div *ngFor="let content of area.content">
            <div>
              <a [routerLink]="'../' + routeParams.pageId + '/'+ content.contentTypeName + '/' + content.id"  *ngIf="content.texts.length < 1">
                <span>No Input For Content Type</span>
              </a>
            </div>

            <div  *ngFor="let texts of content.texts">

              <a [routerLink]="'../' + routeParams.pageId + '/'+ content.contentTypeName + '/' + content.id" *ngIf="texts.inputTypeName === 'title'">
                <span >{{texts.inputTypeValue}}</span>
              </a>

            </div>


          </div>
        </accordion-group>
      </accordion>
<usana-button [data]="{buttonClass: 'button-large-primary'}" (click)="save()">save</usana-button>
  <!--<div *ngFor="let area of contentAreas">-->

    <!--<span *ngIf="area.areaName"> <usana-button [data]="{buttonClass: 'button-small-secondary'}" (click)="addNewItemToIterable(area.id, area.areaName)">+ {{area.areaName}}</usana-button></span>-->
    <!--<div *ngFor="let content of area.content">-->
      <!--<div>-->
        <!--<a [routerLink]="'../' + routeParams.pageId + '/'+ content.contentTypeName + '/' + content.id"  *ngIf="content.texts.length < 1">-->
          <!--<span>No Input For Content Type</span>-->
        <!--</a>-->
      <!--</div>-->

      <!--<div  *ngFor="let texts of content.texts">-->

        <!--<a [routerLink]="'../' + routeParams.pageId + '/'+ content.contentTypeName + '/' + content.id" *ngIf="texts.inputTypeName === 'title'">-->
          <!--<span >{{texts.inputTypeValue}}</span>-->
        <!--</a>-->

      <!--</div>-->


    <!--</div>-->
  <!--</div>-->
</div>
  </div>
  </div>
</div>
