@import '../../../style-params';
.add-to-page{
  display: flex;
  ul{
    margin-right: 120px;
  }

 div  {
   margin-left: 40px;
 }
}
.accordion-thing{
  margin-bottom: 16px;
  min-width: 500px;
}
.button-anchor{
  margin-bottom: 8px;
  ::ng-deep .button-large-secondary{
    min-width:168px;
  }
}
