
<button (click)="openModal(template)" class="button-small-primary">Add New Image</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add an Image Here</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input  type="file" name="file" id="file"
                accept="image/png, image/jpeg" class="file-input" (change)="this.updateFile($event)"/>
    <label for="file">Choose a file</label>
    <span> {{fileName}}</span>
    <div>
      <app-text-area [data]="{label: 'Alt Text'}"(dataOut)="this.updateAltText($event)"></app-text-area>
    </div>
    <div>
      <app-select [data]="{label: 'Choose Component Type', options: ['Card', 'Cover', 'Hero', 'Product']}" (dataOut)="this.updateImageCompType($event)"></app-select>
    </div>
    <button class="button-large-primary" (click)="this.sendEvent($event)" >Save</button>
  </div>
</ng-template>
