
<usana-button (click)="openModal(template)" [data]="{buttonClass: 'button-mini-primary'}">Add New Image</usana-button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add an Image Here</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input  type="file" name="file" id="file"
            accept="image/png, image/jpeg" class="file-input" (change)="this.updateFile($event)">
    <label for="file">Choose a file</label>
    <span> {{fileName}}</span>
    <div>
      <usana-text-area [data]="{label: 'Alt Text'}"(dataOut)="this.updateAltText($event)"></usana-text-area>
    </div>
    <div>
      <usana-select-input [data]="{label: 'Choose Component Type', options: ['Card', 'Cover', 'Hero', 'Product']}" (dataOut)="this.updateImageCompType($event)"></usana-select-input>
    </div>
    <usana-button [data]="{buttonClass: 'button-large-success'}" (click)="this.sendEvent($event)" >Save</usana-button>
  </div>
</ng-template>
