<nav class="side-nav {{this.navToggle}}">
  <ul>
    <li (click)="this.navClicked(this.toggle)"><a [routerLink]="'dashboard'">Dashboard Home</a></li>
    <li (click)="this.navClicked(this.toggle)"><a [routerLink]="'/dashboard/add-edit'">+ Page</a></li>
    <!--<li><a [routerLink]="'/dashboard/add-edit'">+ Post</a></li>-->
    <li (click)="this.navClicked(this.toggle)"><a [routerLink]="'/dashboard/type-creator'">Create Type</a></li>
    <li (click)="this.navClicked(this.toggle)"><a [routerLink]="'/dashboard/image-service'">Image Service</a></li>
    <li (click)="this.navClicked(this.toggle)"><a href="http://localhost:4466/_admin" target="_blank">admin tables</a></li>
    <li (click)="this.navClicked(this.toggle)"><usana-select-input [data]="{label: 'Select Market', options: ['en_us', 'en_es', 'en_ch']}"></usana-select-input></li>
  </ul>
</nav>
<div class="bars {{this.barsToggle}}" (click)="this.navClicked(this.toggle)">
  <img src="../../../assets/bars.svg" alt="" width="24px"/>
</div>
