<div class="edit-image-section" *ngIf="data.imageUrl">
  <a href="{{data.imageUrl}}" target="_blank"> <img src="{{data.imageUrl}}" alt="" width="320"></a>
  <div class="button-left">
    <usana-button [data]="{buttonClass: 'button-mini-tertiary'}" (click)=" this.callParent()">Copy Image Location</usana-button>
  </div>
  <usana-form-input [data]="{label: 'Alt Text',  value: data.altText}"></usana-form-input>
  <div class="button-left">
    <usana-button [data]="{buttonClass: 'button-large-primary'}">Save</usana-button>
  </div>
</div>
